/* Reset bàsic */
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Fons general */
body {
    margin: 0;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    display: flex;
    background-image: url("../imatges/fondo7.jpg");
}

/* Contenidor principal */
.container {
    background-color: #eeeeee;
    padding: 40px 60px;
    width: min(90%, 1400px);
    margin: 120px auto 50px auto;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    border-radius: 2px;
    flex: 1;
}

/* Títols */
h2, h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Labels */
label {
    font-weight: bold;
    color: #555;
}

/* Inputs */
input[type="email"],
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="date"] {
    width: 250px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    text-align: center;
}

textarea{
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Botó principal */
button {
    width: 25%;
    padding: 10px;
    background-color: #2a5298;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #1e3c72;
}

/* Botó secundari */
.button-secondary {
    background-color: #777;
}

.button-secondary:hover {
    background-color: #555;
}

/* Enllaços */
a {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #2a5298;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Missatge d’error */
.error {
    background-color: #ffe0e0;
    color: #b30000;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
}

/* Missatge correcte */
.success {
    background-color: #e0ffe5;
    color: #006b2e;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
}


/* HEADER FIJO */
.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(135deg, #36373a, #272727);
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    z-index: 1000;
}

.header-content {
    max-width: 2000px;
    margin: 0 auto;
    height: 100%;
    padding: 0 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.logo img {
    height: 60px;
    width: auto;
    display: block;
}

.nav-menu {
    display: flex;
    gap: 15px;
}

.nav-menu a {
    color: white;
    display: flex;
    align-items: center;
    padding: 8px 14px;
    border-radius: 6px;
    font-size: 14px;
    text-decoration: none;
}

.nav-menu a:hover {
    background-color: rgba(255,255,255,0.2);
}

.header-auth a {
    color: white;
    text-decoration: none;
    padding: 8px 14px;
    border-radius: 6px;
    font-size: 14px;
    align-items: center;
    display: flex;
}

.header-username {
    padding: 0 6px;
    margin-top: 15px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-username {
    color: #ccc;
    font-size: 14px;
}

.header-button.login:hover {
    background-color: rgb(3, 134, 36);
}

.header-button.logout:hover {
    background-color: rgb(151, 14, 14);
}

.login-actions {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.login-actions button {
    width: 260px;
}

/* FOOTER */
.main-footer {
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #36373a;
    color: white;
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.4);
}

.footer-content {
    max-width: 2000px;
    height: 100%;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.footer-content a:hover {
    text-decoration: underline;
}

/* FORMULARIO FECHA */
.formulari {
    text-align: center;
}

/* BOTÓN CENTRAL */
.boto-central {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.boto-central button {
    width: auto;
    min-width: 200px;
}

/* BOTONES INFERIORES */
.botons-accions {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    align-items: center;
}

.botons-accions button {
    width: auto;
    min-width: 180px;
}

.resultats {
    margin: 30px auto;
    padding: 25px 40px;
    max-width: 400px;

    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);

    text-align: left;
}

.resultats h3 {
    text-align: center;
    margin-bottom: 20px;
}

.resultats p {
    font-size: 16px;
    margin: 10px 0;
}

.ubicacio {
    margin: 30px auto;
    padding: 25px 40px;
    max-width: 400px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    text-align: center;
}

.introduccio {
    max-width: 700px;
    margin: 40px auto;
    padding: 30px 40px;
    background-color: #ffffff;
    border-left: 4px solid #454545;
    border-radius: 6px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.12);
    text-align: center;
}

.introduccio h3 {
    margin-bottom: 20px;
    font-size: 22px;
    color: #3b3b3b;
}

.introduccio p {
    margin-bottom: 16px;
    line-height: 1.6;
    font-size: 15.5px;
    color: #444;
}

.error {
    background-color: #ffe0e0;
    color: #b30000;
    padding: 12px 18px;
    border-radius: 6px;
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
    font-weight: 500;
}

.contacte-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.contacte-actions button {
    width: 260px;
}
